<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quran Web App</title>
    <%- include("partials/header.ejs") %>
</head>
<body>
    <div  id="main" class="mainText mainText-default">
        <h1>Quran Verse Saver</h1>
        <h3>Enter Your Goal For Each Day:</h3>
        <select name="" id="selectoption">
            <option value="5" selected>5 verses</option>
            <option value="10">10 verses</option>
            <option value="15">15 verses</option>
            <option value="20">20 verses</option>
            <option value="0" id="customgoal">custom</option>
        </select>
        <br><br>
        <div id="forcustomgoal" style="display: none;">
            <label for="customgoalinput"><input type="number" name="" id="customgoalinput" min="1"></label>
        </div>
        <br>
        <button id="completiongoal" class="btn btn-success">Complete Goal FOR Today</button>
        <br> <br>
        <h3>Verses Read Today: <h2 id="savedReadToday">0</h2></h3>
        <h3>Total verses Read: <h2 id="totalread">0</h2></h3>
        <button id="removetotal" class="btn btn-danger">Clear Total Verses Read</button>
        <button id="removetoday" class="btn btn-danger">Clear Verses Read Today</button>
    </div>
    <script src="/scripts/verseSaver.js"></script>
    <br><br><br><br><br><br>
    <%- include("partials/footer.ejs") %>
</body>
</html>